<md-toolbar color="primary">
  <div class="toolbar-content">
    <a routerLink="/" class="title">{{title}}</a>

    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
  </div>

  <md-menu x-position="before" #menu="mdMenu">
    <a routerLink="/about" md-menu-item> About </a>
    <button md-menu-item> FAQ </button>
    <button md-menu-item> Contact </button>
  </md-menu>
</md-toolbar>

<div class="main-content">
  <router-outlet></router-outlet>
</div>
