.toolbar-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.toolbar-content button {
  color: #ffffff;
}

.title {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-content {
  padding: 10px;
}
