<md-card>
  <md-card-title>Currently Streaming?</md-card-title>
  <md-card-content>OFFLINE | ONLINE</md-card-content>
</md-card>

<md-card>
  <md-card-title>What Game Should I Play Next?</md-card-title>
  <md-card-content>
    <ul>
      <li>Game 1</li>
      <li>Game 2</li>
      <li>Game 3</li>
    </ul>
  </md-card-content>
</md-card>

<md-card>
  <md-card-title>Recent Videos</md-card-title>
  <md-card-content>
    <ul>
      <li>Video 1</li>
      <li>Video 2</li>
      <li>Video 3</li>
    </ul>
  </md-card-content>
</md-card>
